{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="background-image">
        <div class="content-container d-flex justify-content-center align-items-center vh-100">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <div class="box box1">GE 2024</div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="box box2">Parties</div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="box box3">Candidates</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
